body{
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.top{
    background-image: url(./images/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 70%;
    margin: auto;
    padding: 100px 0;
    color: #ffffff;
}

header h1{
    text-align: center;
    font-size: 60px;
    line-height: 0.5;
}

header p{
    text-align: center;
    font-size: 20px;
    color: #ffffff;

}


.donate-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.btn{
    background-color: #ff5959;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    border-radius: 5px;
}

.donate-count{
    padding: 100px 0;
}

h2{
    font-size: 40px;
    text-align: center;
}

p{
    font-size: 20px;
    color: #707070;
    text-align: center;
}

.amount{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.quantity{
    background-color: #fafafa;
    padding: 20px 15px;
    color: #707070;
    margin: 10px;
    border-radius: 5px;
}

.quantity h2{
    font-size: 30px;
}

.quantity:hover{
    border: 2px solid #ff5959;
    color: #ff5959;
}

.tk{
    display: flex;
    margin: auto;
    text-align: center;
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 25px;
}


.donate-count .donate-btn{
    padding: 50px 0;
}